{
   email misconfiguration@gmx.ch
}

(headers) {
    header { Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
     # Enable cross-site filter (XSS) and tell browser to block detected attacks
     X-Frame-Options "SAMEORIGIN"
     # Prevent search engines from indexing (optional)
     X-Robots-Tag "none"
     # Server name remove
     -Server
   }
}

web.kt8s.ch {
  basicauth {
    user $2a$14$qjQ/t/vfo8iybWfBeNtuZe1iZiJjP.0lxVVVPUplt9v.HMNTQY492
  }
  reverse_proxy http://frontend:80
}

web.kt8s.ch {
  basicauth {
    user $2a$14$qjQ/t/vfo8iybWfBeNtuZe1iZiJjP.0lxVVVPUplt9v.HMNTQY492
  }
  reverse_proxy http://api:8000
}